{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<style>

.blue-square-background {
    background: #AEB8FE;
    width: 80%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 60px;
    z-index: -2;
}
.violet-square-background {
    background: #758BFD;
    width: 25%;
    height: 45%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 60px;
    z-index: -1;
}

</style>

    <div class="d-flex col">
		<div>
			{% include 'home/components/sideBarHome.html.twig' %}
		</div>
		<div class="col">
			<h1 class="text-center">Paramètres</h1>
            <div class="d-flex justify-content-center">
                {% include 'home/components/productCard.html.twig' %}
            </div>
            <div class="blue-square-background"></div>
            <div class="violet-square-background"></div>
		</div>
	</div>
{% endblock %}