{% extends 'base.html.twig' %}

{% block title %}Liste FDS
{% endblock %}

{% block body %}
	<div class="d-flex col">
		<div>
			{% include 'admin/components/sideBar.html.twig' %}
		</div>
		<div class="col">
			<h1 class="text-center">Liste FDS</h1>
            <div class="d-flex justify-content-center bg-dark">
			
            </div>
		</div>
	</div>
{% endblock %}
